.tetris .field {
    width: 400px;
    height: 800px;
}

.tetris .vertical {
    outline: 1px solid #a2a2a2;
}

.tetris .horizontal {
    outline: 1px solid #a2a2a2;
}

.tetris .active {
    background: grey;
}

